body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body-image {
	background-color: #341E1C;
	height: 1000px;
	width: auto;
}

.wrapper{
	margin: 0 auto;
	text-align: center;
}

/*---------------NAVIGATION BAR-------------*/

/*.nav-fade{*/
	/*opacity: 1;*/
/*}*/

.fixed-nav{
    position: fixed;
}
.nav-container{
    z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	text-align: center;
}

#navi {
	display: inline-block;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-left: 0px;
    background: rgba(52,30,28,.8);
}

#navi:hover{
    background: rgba(0,0,0,.8);
}

#navi li {
	color: #FFFFFF;
	display: inline;
    margin-top: 4px;
    font-weight: bold;
    padding-left: auto;
    padding-right: auto;
}

#navi li a {
	display: inline;
	padding: 0 15.5px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "Raleway";
}

#navi li a:link,a:visited {
	font-weight:bold;
	color: #FFFFFF;
    /*color:#808080;*/
    text-align:center;
}

#navi li a:hover,a:active {
    background-color: #000000;
    font-size: 15.5px;
}
/*---------------NAVIGATION BAR-------------*/

/*-----------------MENU BLOCK---------------*/
.menu-background{
	width: 100%;
	background: #FFFFFF url("../images/menubackground.png") no-repeat;
	background-position: top;
    margin-top: 10px;
}

#wood{
	margin-top: 50px;
	box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.4);
}

.wooden-background{
	background-image: url("../images/woodtexture.png");
}

#menu-header{
    width: auto;
    text-align: center;
    height:100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu-list{
	list-style: none;
    text-align: center;
    padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF
}

.menu-list li{
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.1em;
	font-family: "Raleway";
	/*font-style: normal;*/
	color: #000000
}
/*---------------MENU BLOCK-------------*/

.title-font{
	color: #000000;
	font-family: "Raleway";
	font-weight: 800;
	font-style: normal;
}

.header-font{
	font-size: 20px;
	font-family: "Raleway";
	font-weight: 800;
	font-style: normal;
	color: #000000
}

#footer-info{
	padding-top: 20px;
	padding-bottom: 30px;
	color: #FFFFFF;
	font-family: "Raleway ExtraLight";
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
}

#motto-header{
	margin-top: 20px;
	font-family: "Raleway ExtraLight";
	font-weight: 500;
	font-style: normal;
}

#footer-info span{
	padding-left: 10px;
	padding-right: 10px;
}

.grey-text{
	color: #A9A9A9;
}
.white-text{
	color: #FFFFFF;
}


/*prim-font {*/
	/*color: red;*/
	/*font-size: 20px;*/
	/*//font-family: Monospace;*/
/*}*/

/*bold_text{*/
	/*color: white;*/
	/*font-weight: bold;*/
	/*font-style: italic;*/
/*}*/

